.header-text h1{
    font-size: 4rem;
}
.container{
    padding: 40px;
}


h3{
    text-align: center;
    font-size: larger;
    
}



.features {
  margin-top: -70px;
  background-color:#a3d785;

}

.feature-item {
  flex-basis: 33.33%;
  margin: 0px 10px;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
}

.feature-item .feature-icon i {
    font-size: 50px;
    color: #223a66;
  }
  
  .feature-item h4 {
    color: #223a66;
  }
  
  .feature-item p {
    font-size: 14px;
  }
  
.feature-section.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  }
 
  @import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");
html {
  overflow-x: hidden;
}

.section {
  padding: 100px 0;
}

.banner {
  position: relative;
  overflow: hidden;
  background: #fff;
  min-height: 550px;
}



@media (max-width: 480px) {
  .banner .block h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .banner {
    min-height: 450px;
    background: #fff !important;
  }
}

@media (max-width: 400px) {
  .banner .block h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .banner {
    min-height: 450px;
    background: #fff !important;
  }
}

@media (max-width: 768px) {
  .banner .block h1 {
    font-size: 56px;
    line-height: 70px;
  }
  .banner {
    background: #fff !important;
  }
}

@media (max-width: 992px) {
  .banner {
    background: #fff !important;
  }
}


.features {
  margin-top: -70px;
  background-color:#a3d785;
}

.feature-item {
  flex-basis: 33.33%;
  margin: 0px 10px;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
}

.feature-item .feature-icon i {
  font-size: 50px;
  color: #223a66;
}

.feature-item h4 {
  color: #223a66;
}

.feature-item p {
  font-size: 14px;
}

.feature-section.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.newtxt{
    text-align: center;
    font-size: 50px;
}

.rawtxt{
    text-align:  center;
}


.mycard
{
    border: none;
    border-radius: 0%;
}

.appsect{
    font-size: larger;
}

.faqsect{
    font-size: larger;
    font-style: bold;
}

.free-advice {
    display: flex;
    border-radius: 25px;
  }
  
.footer-input {
    border-radius: 25px;
  }
.footer-input input {
    border-radius: 25px;
    border-style: none;
    padding: 5px;
    height: 40px;
}